.banner {
    display: flex;
    background-color: #000;

    .banner-header {
        color: #fff;
    }
}

.content {
    .MuiList-root {
        padding: 0 1%;

        .MuiAvatar-root {
            margin-right: 20px;
        }
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding: 20px 0;

    button {
        margin: 0 20px;
    }
}

.promo-section {
    background-color: grey;
}
