.banner {
    background-color: #000;

    .banner-header {
        color: #fff;
    }
}

.content {
    .MuiList-root {
        padding: 0 1%;

        .MuiAvatar-root {
            margin-right: 20px;
        }
    }
}

.promo-section {
    background-color: grey;
}
